/* Estilos para la paginas de proyecto Computer-Repair */

/*Formato al div*/
#nav_bar ul {
  list-style-type: none;
  text-align: center;
  background-color: #eeeeee;
  position: center;
  top: 0;
  padding: 30px 50px
}

/*Formato a los elementos de lista*/
#nav_bar li {
  display: inline;
  text-align: center;
  margin: 0 10px 0 0;
}

/*Formato a los link */
#nav_bar li a {
  padding: 30px 50px 30px 50px;
  color: #666;
  background-color: #eeeeee;
  border: none;
  text-decoration: none;
}

/*Formato a los link cuando se pasa el mouse*/
#nav_bar li a:hover {
  background-color: #120ae6;
  color: white;
}

#nav_bar button a{
  color: #666;
  background-color: #eeeeee;
  border: 2px;
  border-radius: 2px;
  text-decoration: none;
  margin: 1px 1px;
  outline: none;
  width:100px;
  height:40px;
}

#nav_bar button a:hover {
  background-color: #120ae6;
  color: white;
}
/*Formato a los botones de cambio de interfaz*/

.botonP
{
border: 1px solid #2e518b; /*anchura, estilo y color borde*/
padding: 7px; /*espacio alrededor texto*/
background-color: #2e518b; /*color botón*/
color: #ffffff; /*color texto*/
text-decoration: none; /*decoración texto*/
text-transform: uppercase; /*capitalización texto*/
font-family: 'Helvetica', sans-serif; /*tipografía texto*/
border-radius: 50px; /*bordes redondos*/
}

/*Formato a los botones de cambio de interfaz cuando se pasa el mouse*/

.botonP:hover
{
background-color: rgb(255, 0, 0);
}
/*Formato a los botones de cambio de interfaz cuando se hace click*/

.botonP:active
{
background-color: #810505; /*color botón*/
color: #ffffff; /*color texto*/
text-decoration:underline; /*decoración texto*/
border-radius: 50px; /*bordes redondos*/
}